/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    }

/*grijs #899CA0 & donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    align-self: center;;
    margin: 0 auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/

h1 {
    font-weight: 700;
    font-size: 110px;
}
h2 {
    font-size: 30px;
}
h6,
.domain-input,
.header-button {
    font-weight: 400;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 p{
    color: #1C2B32;
}

#copyright-text {
    font-size: 13px;
    color: white;
}

p {
    font-size: 14px;
    }

a {
    color: #899CA0;
}

/*////////////////////////
    3. Areas
////////////////////////*/

main {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    margin: 50px auto;
}


/*///////////// 3.1 Header /////////////*/

header {
    display: flex;
    justify-content: center;
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    background-position: center
}

.header-group {
    margin: 0;
    height: 750px;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    max-width: 1000px;
    padding: 80px 0 80px 0;
}

.register-domain {
    margin: 2px;
}

.domain-input {
    margin: 30px -5px 0 0;
    padding: 20px 100px 20px 30px;
    border: 1px solid;
    border-color: #1C2B32;
    color: #1C2B32;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: transparent;
}

.domain-input::placeholder {
    color: #1C2B32;
}

.header-button {
    padding: 20px 30px 20px 30px;
    border: 1px solid;
    border-color: #1C2B32;
    background-color: #1C2B32;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/*///////////// 3.2 Testimonial /////////////*/

.customer-reviews {
    flex-direction: column;
    display: flex;
    justify-content: center;
}


/*///////////// 3.3 Support /////////////*/

.callcenter-group {
    display: flex;
    flex-direction: column;
}

.callcenter {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

figure {
    position: relative;
    margin: 25px 0;
    background-color: white;
    padding: 55px;
    border-radius: 7px;
    box-shadow: 0 8px 24px darkgrey;
}

.quotation {
    position: absolute;
    top: 50px;
    left: 90px;
    width: 30px;
}

blockquote {
    margin: 0 35px 15px 79px;
}

.person {
    border-radius: 50%;
    width: 44px;
    margin: 10px 25px 10px 80px;
}

figure span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-button {
    padding: 25px 35px;
    margin-right: auto;
    background-color: #1C2B32;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    }

.callcenter-group p {
    margin: 20px 0 20px 0;
}

/*///////////// 3.4 Faq /////////////*/

.questions {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.most-asked-questions {
    display: flex;
    flex-direction: column;
    justify-conten: center;
    max-width: 1000px;
}

.most-asked-questions p {
    background-color: #899CA0;
    color: white;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
}

details {
    margin: 15px 0;
}

/*///////////// 3.5 Footer /////////////*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C2B32;
    color: white;
    height: 80px;
    margin: 50px 0 5px 0;
}
